In [1]:
import pandas as pd
import numpy as np

In [7]:
df1 = pd.read_csv('data/가계금융복지조사/2020_가계금융복지조사.csv', encoding='cp949')
df1.head()

,조사연도,MD제공용_가구고유번호,가중값,수도권여부,가구주_성별코드,가구원수,노인가구코드,조손가구코드,한부모가구코드,다문화가구코드,...,원리금상환_가계지출감소항목코드,부채상환가능시기코드,가구주_은퇴여부,가구주_미은퇴_은퇴연령,가구주_미은퇴_최소생활비,가구주_미은퇴_적정생활비,가구주_미은퇴_노후준비상황코드,가구주_은퇴_은퇴연령,가구주_은퇴_적정생활비충당여부,가구주_은퇴_생활비재원마련코드
0,2020,10000112,1531.602344,G1,1,3,G2,G2,G2,G2,...,NaN,1.0,1,70.0,400,500,3.0,NaN,NaN,NaN
1,2020,10000132,1314.119926,G1,2,2,G2,G2,G2,G2,...,4.0,1.0,1,70.0,500,700,3.0,NaN,NaN,NaN
2,2020,10000162,1098.806050,G1,2,1,G1,G2,G2,G2,...,NaN,NaN,1,75.0,100,150,3.0,NaN,NaN,NaN
3,2020,10000182,1124.027871,G1,1,2,G2,G2,G2,G2,...,NaN,NaN,1,70.0,200,250,4.0,NaN,NaN,NaN
4,2020,10000192,1098.806050,G1,2,1,G2,G2,G2,G2,...,NaN,NaN,1,65.0,250,300,3.0,NaN,NaN,NaN

In [8]:
df1_cols = [
    "MD제공용_가구고유번호",      # 가구 ID
    "원리금연체여부",
    "30일이상원리금연체여부",
    "부채보유여부",
    "부채",
    "보완_경상소득",
    "보완_처분가능소득",
    "가구원수",
    "가구주_만연령"
]

df1_s = df1[df1_cols].copy()

In [9]:
df1_s

,MD제공용_가구고유번호,원리금연체여부,30일이상원리금연체여부,부채보유여부,부채,보완_경상소득,보완_처분가능소득,가구원수,가구주_만연령
0,10000112,2.0,NaN,G1,54500,6593,4599,3,34
1,10000132,1.0,2.0,G1,17500,17720,15257,2,45
2,10000162,NaN,NaN,G2,0,908,725,1,73
3,10000182,NaN,NaN,G2,0,2748,2431,2,58
4,10000192,NaN,NaN,G2,0,1015,893,1,27
...,...,...,...,...,...,...,...,...,...
18059,993800291,2.0,NaN,G1,2200,179,-390,3,42
18060,994800251,2.0,NaN,G1,22000,15454,11784,5,49
18061,994800261,2.0,NaN,G1,29000,15098,11560,5,57
18062,994800291,NaN,NaN,G1,25000,9114,7074,2,53
18063,995800261,2.0,NaN,G1,13000,7857,5404,5,44

In [11]:
df1_s.isna().sum()

MD제공용_가구고유번호        0
원리금연체여부          8331
30일이상원리금연체여부    17037
부채보유여부              0
부채                  0
보완_경상소득             0
보완_처분가능소득           0
가구원수                0
가구주_만연령             0
dtype: int64

In [16]:
df2 = pd.read_csv("data/가계동향조사/2020_가계동향조사.csv", encoding="cp949")
df2.head()

,조사연월,가계지출_소비지출금액,가계지출금액,가구일련번호,도시읍면부구분코드,가구원수,취업인원수,자동차보유대수,월세평가금액,전세보증금,...,가계지출_비소비지출_이자비용,가계지출_비소비지출_사회보험료,가계지출_비소비지출_연금기여금,가계지출_비소비지출_비경상조세,가계지출_비소비지출_경상조세,가계지출_소비지출_기타상품서비스_기타서비스금액구입비,가계지출_비소비지출금액,가계지출_소비지출_기타상품서비스_복지시설비용금액,가계지출_소비지출_기타상품서비스_기타개인용품구입비,가계지출_소비지출_기타상품서비스_시계장신구구입비
0,202000,1000147,1182480,899,1,1,0,0,250,0,...,0,0,0,0,1000,0,182333,0,9750,0
1,202000,10001873,10828384,8255,1,3,3,2,530,5000,...,65628,31898,27000,379054,29930,0,826510,0,14420,0
2,202000,1000410,1453360,2788,1,1,1,0,200,0,...,0,104550,115400,0,33000,0,452950,0,0,0
3,202000,1000632,1040474,8427,0,2,1,1,300,0,...,0,0,0,0,21842,0,39842,0,0,0
4,202000,1000818,1139743,6359,1,1,1,1,365,5000,...,0,43040,45000,0,50885,0,138925,0,0,0

In [17]:
df2_cols = [
    "가구일련번호",
    "조사연월",
    "가계지출_소비지출금액",
    "가구원수",
    "취업인원수",
    "자동차보유대수"
]

df2_s = df2[df2_cols].copy()

In [19]:
df2_s.isna().sum()

가구일련번호         0
조사연월           0
가계지출_소비지출금액    0
가구원수           0
취업인원수          0
자동차보유대수        0
dtype: int64