In [13]:
import pandas as pd
import numpy as np

# =========================
# 1. 데이터 로드
# =========================

# kospi = pd.read_csv('KOSPI.csv', parse_dates=['date'])
# ip = pd.read_csv('산업생산지수.csv', parse_dates=['date'])
# m2 = pd.read_csv('M2.csv', parse_dates=['date'])
# rate = pd.read_csv('기준금리.csv', parse_dates=['date'])
# fx = pd.read_csv('환율.csv', parse_dates=['date'])
cpi = pd.read_csv(
    'data/소비자물가지수(1996.1~).csv',
    encoding='euc-kr'
)
corp_loan = pd.read_csv('data/기업대출_산업별.csv')
hh_loan = pd.read_csv('data/가계대출_용도별.csv')
# bond_aa = pd.read_csv('회사채_AA-.csv', parse_dates=['date'])
# bond_gov = pd.read_csv('국고채_3년.csv', parse_dates=['date'])

In [14]:
df1 = cpi
df2 = corp_loan
df3 = hh_loan

In [15]:
df1

,시도별,1996.01,1996.02,1996.03,1996.04,1996.05,1996.06,1996.07,1996.08,1996.09,...,2025.04,2025.05,2025.06,2025.07,2025.08,2025.09,2025.10,2025.11,2025.12,2026.01
0,전국,53.289,53.499,53.862,54.226,54.538,54.538,54.798,55.057,55.162,...,116.38,116.27,116.31,116.52,116.45,117.06,117.42,117.2,117.57,118.03

In [17]:
df3

,통계표,계정항목,단위,변환,2003/03,2003/04,2003/05,2003/06,2003/07,2003/08,...,2025/02,2025/03,2025/04,2025/05,2025/06,2025/07,2025/08,2025/09,2025/10,2025/11
0,"1.2.4.2.2. 예금취급기관 가계대출(용도별, 월)",예금취급기관,십억원,원자료,NaN,NaN,NaN,NaN,NaN,NaN,...,"1,282,622.5","1,285,753.6","1,292,605.6","1,299,395.7","1,307,977.8","1,312,175.0","1,317,769.1","1,320,041.5","1,325,127.0","1,329,350.4"
1,"1.2.4.2.2. 예금취급기관 가계대출(용도별, 월)",주택담보대출-예금취급기관,십억원,원자료,NaN,NaN,NaN,NaN,NaN,NaN,...,"850,509.2","855,527.1","861,636.9","867,599.6","875,088.1","880,581.5","886,401.2","889,940.0","893,551.5","896,966.3"
2,"1.2.4.2.2. 예금취급기관 가계대출(용도별, 월)",주택담보대출-예금은행,십억원,원자료,NaN,NaN,NaN,NaN,NaN,NaN,...,"735,536.8","739,367.3","744,512.9","749,012.9","755,364.4","759,944.6","763,915.0","766,269.1","768,781.5","770,356.0"
3,"1.2.4.2.2. 예금취급기관 가계대출(용도별, 월)",주택담보대출-비은행예금취급기관,십억원,원자료,NaN,NaN,NaN,NaN,NaN,NaN,...,"114,972.4","116,159.7","117,123.9","118,586.7","119,723.7","120,636.9","122,486.2","123,671.0","124,770.1","126,610.2"
4,"1.2.4.2.2. 예금취급기관 가계대출(용도별, 월)",기타대출-예금취급기관,십억원,원자료,NaN,NaN,NaN,NaN,NaN,NaN,...,"432,113.3","430,226.5","430,968.7","431,796.2","432,889.7","431,593.6","431,368.0","430,101.5","431,575.4","432,384.1"
5,"1.2.4.2.2. 예금취급기관 가계대출(용도별, 월)",기타대출-예금은행,십억원,원자료,NaN,NaN,NaN,NaN,NaN,NaN,...,"235,941.6","235,107.7","236,183.0","237,268.0","238,381.3","237,817.6","238,162.5","237,569.1","238,994.1","240,229.6"
6,"1.2.4.2.2. 예금취급기관 가계대출(용도별, 월)",기타대출-비은행예금취급기관,십억원,원자료,NaN,NaN,NaN,NaN,NaN,NaN,...,"196,171.7","195,118.8","194,785.7","194,528.2","194,508.4","193,775.9","193,205.5","192,532.4","192,581.4","192,154.5"

### CPI (소비자 물가 지수)

In [2]:
import pandas as pd

# =========================
# 1. CPI 로드
# =========================
cpi_raw = pd.read_csv(
    'data/소비자물가지수(1996.1~).csv',
    encoding='cp949'
)

# =========================
# 2. 전국 평균만 사용 (중요)
# =========================
# '시도별' 컬럼에서 '전국' 행만 필터
cpi_raw = cpi_raw[cpi_raw['시도별'] == '전국']

# =========================
# 3. wide → long 변환
# =========================
cpi_long = cpi_raw.melt(
    id_vars='시도별',
    var_name='date',
    value_name='cpi'
)

# =========================
# 4. 날짜 파싱
# =========================
cpi_long['date'] = pd.to_datetime(cpi_long['date'], format='%Y.%m')

# =========================
# 5. 숫자형 변환
# =========================
cpi_long['cpi'] = (
    cpi_long['cpi']
    .astype(str)
    .str.replace(',', '')
    .astype(float)
)

# =========================
# 6. 기간 컷 (2004-01 ~)
# =========================
cpi = (
    cpi_long[cpi_long['date'] >= '2004-01-01']
    [['date', 'cpi']]
    .set_index('date')
    .sort_index()
)

# cpi.head()

cpi.tail()

               cpi
date
2025-09-01  117.06
2025-10-01  117.42
2025-11-01  117.20
2025-12-01  117.57
2026-01-01  118.03

### 가계대출

In [50]:
print(hh_loan.columns)

Index(['통계표', '계정항목', '단위', '변환', '2003/03', '2003/04', '2003/05', '2003/06',
       '2003/07', '2003/08',
       ...
       '2025/02', '2025/03', '2025/04', '2025/05', '2025/06', '2025/07',
       '2025/08', '2025/09', '2025/10', '2025/11'],
      dtype='object', length=277)

In [52]:
import pandas as pd

# 1. 데이터 로드
hh_raw = pd.read_csv(
    'data/가계대출_용도별.csv')

# 2. 총액 행만 선택 (예금취급기관 = 전체 가계대출)
hh_total = hh_raw[hh_raw['계정항목'] == '예금취급기관']

# 3. wide → long
hh_long = hh_total.melt(
    id_vars=['통계표', '계정항목', '단위', '변환'],
    var_name='date',
    value_name='hh_loan'
)

# 4. 날짜 파싱 (월별)
hh_long['date'] = pd.to_datetime(
    hh_long['date'],
    format='%Y/%m',
    errors='coerce'
)

# 5. 숫자 처리
hh_long['hh_loan'] = (
    hh_long['hh_loan']
    .astype(str)
    .str.replace(',', '', regex=False)
)

hh_long['hh_loan'] = pd.to_numeric(
    hh_long['hh_loan'],
    errors='coerce'
)

# 6. 기간 필터 (2008년 이후)
hh_loan = (
    hh_long
    .dropna(subset=['hh_loan'])
    .query("date >= '2008-01-01'")
    [['date', 'hh_loan']]
    .set_index('date')
    .sort_index()
)

In [53]:
print(hh_loan.columns)

Index(['hh_loan'], dtype='object')

In [54]:
print(hh_loan.head())

             hh_loan
date
2008-01-01  473606.9
2008-02-01  476919.4
2008-03-01  480414.6
2008-04-01  485302.9
2008-05-01  489620.6

In [55]:
hh_loan

              hh_loan
date
2008-01-01   473606.9
2008-02-01   476919.4
2008-03-01   480414.6
2008-04-01   485302.9
2008-05-01   489620.6
...               ...
2025-07-01  1312175.0
2025-08-01  1317769.1
2025-09-01  1320041.5
2025-10-01  1325127.0
2025-11-01  1329350.4

[215 rows x 1 columns]

# csv 파일로 변환

In [57]:
# index를 컬럼으로 복원
cpi_out = cpi.reset_index()

# CSV 저장
cpi_out.to_csv(
    'data/cpi_전처리.csv',
    index=False,
    encoding='utf-8-sig'
)

In [58]:
hh_loan_out = hh_loan.reset_index()

hh_loan_out.to_csv(
    'data/가계대출_전처리.csv',
    index=False,
    encoding='utf-8-sig'
)