In [3]:
import pandas as pd
import numpy as np
from statsmodels.tsa.stattools import grangercausalitytests
from IPython.display import display

print("ê°€ì„¤2: ë””ì»¤í”Œë§ â†’ ì‹ ìš©ê²½ìƒ‰ Granger ì‹œì‘")

# ===============================
# 1. ë””ì»¤í”Œë§ ë¡œë“œ + ì›” í‰ê·  ì²˜ë¦¬
# ===============================
df_dec = pd.read_csv("../../ìœ¤ì„±/data/decoupling.csv")

df_dec["date"] = pd.to_datetime(df_dec["date"])
df_dec = df_dec.groupby("date", as_index=False)["gap"].mean()
df_dec = df_dec.sort_values("date").reset_index(drop=True)

print("ë””ì»¤í”Œë§ ë°ì´í„° í™•ì¸")
display(df_dec.head())

# ===============================
# 2. ì‹ ìš©ìŠ¤í”„ë ˆë“œ ë¡œë“œ
# ===============================
df_sp = pd.read_csv("../data/ì „ì²˜ë¦¬_ì‹ ìš©ìŠ¤í”„ë ˆë“œ.csv")

# ë‚ ì§œ ì»¬ëŸ¼ ìë™ íƒìƒ‰
date_col = [c for c in df_sp.columns if "date" in c.lower() or "ê¸°ê°„" in c][0]
df_sp = df_sp.rename(columns={date_col:"date"})
df_sp["date"] = pd.to_datetime(df_sp["date"])

# ìŠ¤í”„ë ˆë“œ ì»¬ëŸ¼ ìë™ íƒìƒ‰
val_col = [c for c in df_sp.columns if c!="date"][0]
df_sp = df_sp[["date", val_col]].rename(columns={val_col:"SPREAD"})
df_sp = df_sp.sort_values("date").reset_index(drop=True)

print("ìŠ¤í”„ë ˆë“œ ë°ì´í„° í™•ì¸")
display(df_sp.head())

# ===============================
# 3. ë³‘í•© (ì›” ê¸°ì¤€ ìœ ì§€)
# ===============================
df = df_dec.merge(df_sp, on="date", how="inner")
df = df.sort_values("date").reset_index(drop=True)

print("ë³‘í•© ê²°ê³¼")
display(df.head())

# ===============================
# 4. ì •ìƒì„± í™•ë³´ (1ì°¨ ì°¨ë¶„)
# ===============================
df["DECOUPLING_d1"] = df["gap"].diff()
df["SPREAD_d1"] = df["SPREAD"].diff()

df = df.dropna().reset_index(drop=True)

print("ì°¨ë¶„ í›„ ë°ì´í„°")
display(df.head())

# ===============================
# 5. Granger ì¸ê³¼ê²€ì •
# ===============================
def run_granger(df, cause, effect, maxlag=6):
    data = df[[effect, cause]].dropna()
    print("\n" + "="*60)
    print(f"{cause} â†’ {effect} (maxlag={maxlag})")
    print("="*60)

    res = grangercausalitytests(data, maxlag=maxlag, verbose=False)
    pvals = {lag: res[lag][0]["ssr_ftest"][1] for lag in res.keys()}

    out = pd.DataFrame({
        "lag": list(pvals.keys()),
        "p_value": list(pvals.values())
    }).sort_values("lag")

    display(out)

    best_lag = out.loc[out["p_value"].idxmin(),"lag"]
    best_p = out["p_value"].min()

    print(f"ìµœì†Œ p-value: {best_p:.4f} (lag{int(best_lag)})")

print("ë””ì»¤í”Œë§ â†’ ìŠ¤í”„ë ˆë“œ")
run_granger(df, "DECOUPLING_d1", "SPREAD_d1", maxlag=6)

print("\nê°€ì„¤2 Granger ì™„ë£Œ")

ê°€ì„¤2: ë””ì»¤í”Œë§ â†’ ì‹ ìš©ê²½ìƒ‰ Granger ì‹œì‘
ë””ì»¤í”Œë§ ë°ì´í„° í™•ì¸

        date       gap
0 2005-01-01  1.745656
1 2005-02-01  1.364802
2 2005-03-01  0.846905
3 2005-04-01  1.296759
4 2005-05-01  0.773001

ìŠ¤í”„ë ˆë“œ ë°ì´í„° í™•ì¸

        date  SPREAD
0 2004-01-01    0.79
1 2004-02-01    0.80
2 2004-03-01    0.79
3 2004-04-01    0.75
4 2004-05-01    0.68

ë³‘í•© ê²°ê³¼

        date       gap  SPREAD
0 2005-01-01  1.745656    0.46
1 2005-02-01  1.364802    0.44
2 2005-03-01  0.846905    0.44
3 2005-04-01  1.296759    0.42
4 2005-05-01  0.773001    0.41

ì°¨ë¶„ í›„ ë°ì´í„°

        date       gap  SPREAD  DECOUPLING_d1     SPREAD_d1
0 2005-02-01  1.364802    0.44      -0.380854 -2.000000e-02
1 2005-03-01  0.846905    0.44      -0.517897  8.881784e-16
2 2005-04-01  1.296759    0.42       0.449855 -2.000000e-02
3 2005-05-01  0.773001    0.41      -0.523758 -1.000000e-02
4 2005-06-01  0.502169    0.39      -0.270832 -2.000000e-02

ë””ì»¤í”Œë§ â†’ ìŠ¤í”„ë ˆë“œ

============================================================
DECOUPLING_d1 â†’ SPREAD_d1 (maxlag=6)
============================================================

c:\anaconda\envs\data\Lib\site-packages\statsmodels\tsa\stattools.py:1556: FutureWarning: verbose is deprecated since functions should not print results
  warnings.warn(

   lag   p_value
0    1  0.023374
1    2  0.038510
2    3  0.021825
3    4  0.045772
4    5  0.038892
5    6  0.065490

ìµœì†Œ p-value: 0.0218 (lag3)

ê°€ì„¤2 Granger ì™„ë£Œ

### ğŸ“Œ ê°€ì„¤ 2: ë””ì»¤í”Œë§ â†’ ì‹ ìš©ê²½ìƒ‰ ì‹ í˜¸ (Granger ì¸ê³¼ê²€ì • ê²°ê³¼)

#### 1ï¸âƒ£ ë¶„ì„ ëª©ì 

ë³¸ ë¶„ì„ì€ ë””ì»¤í”Œë§ ì§€ìˆ˜ì˜ ë³€í™”ê°€ ì´í›„ ì‹ ìš©ìŠ¤í”„ë ˆë“œ í™•ëŒ€ë¥¼  
ì„ í–‰ì ìœ¼ë¡œ ì„¤ëª…í•˜ëŠ”ì§€ë¥¼ ê²€ì •í•˜ê¸° ìœ„í•´ ìˆ˜í–‰ë˜ì—ˆë‹¤.

ì¦‰,

> ë””ì»¤í”Œë§ ì§€ìˆ˜ê°€ ìƒìŠ¹í•˜ë©´ ì´í›„ ì‹ ìš©ìŠ¤í”„ë ˆë“œê°€ í™•ëŒ€ë˜ëŠ”ê°€?

ë¥¼ Granger ì¸ê³¼ê²€ì •ì„ í†µí•´ í™•ì¸í•˜ì˜€ë‹¤.

---

#### 2ï¸âƒ£ ë¶„ì„ ë°©ë²•

- ë°ì´í„°: ì›” ë‹¨ìœ„  
- ì‚¬ìš© ë³€ìˆ˜:  
  - `DECOUPLING_d1` (ë””ì»¤í”Œë§ ì§€ìˆ˜ 1ì°¨ ì°¨ë¶„)  
  - `SPREAD_d1` (AA- íšŒì‚¬ì±„ ìŠ¤í”„ë ˆë“œ 1ì°¨ ì°¨ë¶„)  
- ìµœëŒ€ ì‹œì°¨: 6ê°œì›”  
- ê²€ì • ë°©ë²•: **Granger Causality Test (ssr F-test ê¸°ë°˜)**  

---

#### 3ï¸âƒ£ ê²€ì • ê²°ê³¼

| lag | p-value |
|-----|----------|
| 1 | 0.0234 |
| 2 | 0.0385 |
| 3 | 0.0218 |
| 4 | 0.0458 |
| 5 | 0.0389 |
| 6 | 0.0655 |

ìµœì†Œ p-value: **0.0218 (lag 3)**

---

#### 4ï¸âƒ£ í†µê³„ì  íŒë‹¨

ìœ ì˜ìˆ˜ì¤€ 5% ê¸°ì¤€ì—ì„œ:

- lag 1 ~ lag 5ëŠ” `p < 0.05`
- lag 6ì€ ìœ ì˜í•˜ì§€ ì•ŠìŒ (`p = 0.0655`)

ë”°ë¼ì„œ,

> ë””ì»¤í”Œë§ ì§€ìˆ˜ì˜ ë³€í™”ëŠ” ì´í›„ ì‹ ìš©ìŠ¤í”„ë ˆë“œ ë³€í™”ë¥¼ Granger-cause í•œë‹¤.

ê·€ë¬´ê°€ì„¤(H0):

> ë””ì»¤í”Œë§ì€ ì‹ ìš©ìŠ¤í”„ë ˆë“œë¥¼ ì˜ˆì¸¡í•˜ì§€ ëª»í•œë‹¤

ëŠ” **ê¸°ê°ëœë‹¤.**

ì´ì „ ê²°ê³¼ë³´ë‹¤ p-value ìˆ˜ì¤€ì€ ë‹¤ì†Œ ì™„í™”ë˜ì—ˆìœ¼ë‚˜,  
ì—¬ì „íˆ 1~5ê°œì›” ì‹œì°¨ êµ¬ê°„ì—ì„œ í†µê³„ì ìœ¼ë¡œ ìœ ì˜í•œ ì¸ê³¼ê´€ê³„ê°€ í™•ì¸ëœë‹¤.

---

#### 5ï¸âƒ£ ê²½ì œì  í•´ì„

ì´ ê²°ê³¼ëŠ” ë‹¤ìŒì„ ì˜ë¯¸í•œë‹¤.

- ê¸ˆìœµâ€“ì‹¤ë¬¼ ê´´ë¦¬ê°€ í™•ëŒ€ë  ê²½ìš°  
- ì•½ 1~5ê°œì›” ì´í›„  
- ì‹ ìš©ìŠ¤í”„ë ˆë“œê°€ ìœ ì˜í•˜ê²Œ í™•ëŒ€ë˜ëŠ” ê²½í–¥ì´ ìˆë‹¤.

ì´ëŠ” ë‹¤ìŒì˜ ë…¼ë¦¬ì™€ ì¼ì¹˜í•œë‹¤:

> ì‹¤ë¬¼ ë‘”í™”ê°€ ì¦‰ì‹œ ì‹ ìš©ìœ„í—˜ì— ë°˜ì˜ë˜ê¸°ë³´ë‹¤ëŠ”  
> ì¼ì • ì‹œì°¨ë¥¼ ë‘ê³  ê¸°ì—… ë¶€ë„ìœ„í—˜ì´ ì¬í‰ê°€ë˜ë©°  
> ì‹ ìš© í”„ë¦¬ë¯¸ì—„ì´ ìƒìŠ¹í•œë‹¤.

íŠ¹íˆ ìµœì†Œ p-valueê°€ lag 3ì—ì„œ ë‚˜íƒ€ë‚¬ë‹¤ëŠ” ì ì€  
ì‹ ìš©ì‹œì¥ ë°˜ì‘ì´ ì•½ 2~3ê°œì›”ì˜ ì§€ì—°ì„ ë‘ê³  ë‚˜íƒ€ë‚  ê°€ëŠ¥ì„±ì„ ì‹œì‚¬í•œë‹¤.

ì¦‰, ë””ì»¤í”Œë§ì€ ë‹¨ìˆœí•œ ê´´ë¦¬ ì§€í‘œê°€ ì•„ë‹ˆë¼

> **ì‹ ìš©ê²½ìƒ‰ì˜ ì„ í–‰ ì‹ í˜¸ (Early Warning Signal)** ë¡œ ê¸°ëŠ¥í•  ê°€ëŠ¥ì„±ì´ ë†’ë‹¤.

---

#### 6ï¸âƒ£ 1ë²ˆ ê°€ì„¤ê³¼ì˜ ì—°ê²°

1ë²ˆ ê°€ì„¤ì—ì„œ ê¸ˆìœµâ€“ì‹¤ë¬¼ ê´´ë¦¬ êµ¬ì¡°ë¥¼ í™•ì¸í•˜ì˜€ë‹¤ë©´,

2ë²ˆ ê°€ì„¤ì—ì„œëŠ” ê·¸ ê´´ë¦¬ê°€

> ì‹¤ì œ ê¸ˆìœµì‹œì¥ ìœ„í—˜ì§€í‘œ(ì‹ ìš©ìŠ¤í”„ë ˆë“œ)ë¡œ ì „ì´ë˜ëŠ” ë™íƒœì  ê²½ë¡œ

ë¥¼ í†µê³„ì ìœ¼ë¡œ ì…ì¦í•œ ê²ƒì´ë‹¤.

ì¦‰,

> ê¸ˆìœµâ€“ì‹¤ë¬¼ ê´´ë¦¬ â†’ ì‹ ìš©ìœ„í—˜ í™•ëŒ€

ë¼ëŠ” ì „ì´ êµ¬ì¡°ê°€ ì‹¤ì¦ì ìœ¼ë¡œ í™•ì¸ë˜ì—ˆë‹¤.

---

### ğŸ¯ ìµœì¢… ê²°ë¡ 

ë””ì»¤í”Œë§ ì§€ìˆ˜ì˜ ì¦ê°€ëŠ” í†µê³„ì ìœ¼ë¡œ ìœ ì˜í•˜ê²Œ  
ì´í›„ ì‹ ìš©ìŠ¤í”„ë ˆë“œ í™•ëŒ€ë¥¼ ì„ í–‰í•œë‹¤.

ë¹„ë¡ ì´ì „ ë¶„ì„ë³´ë‹¤ ìœ ì˜ìˆ˜ì¤€ì€ ë‹¤ì†Œ ì™„í™”ë˜ì—ˆìœ¼ë‚˜,  
1~5ê°œì›” ì‹œì°¨ êµ¬ê°„ì—ì„œ ì¼ê´€ëœ ìœ ì˜ì„±ì´ í™•ì¸ë˜ì—ˆë‹¤ëŠ” ì ì—ì„œ

> **ë””ì»¤í”Œë§ì€ ì‹ ìš©ê²½ìƒ‰ì˜ ì¡°ê¸° ê²½ê³  ì‹ í˜¸ë¡œ í™œìš©ë  ìˆ˜ ìˆë‹¤.**